@font-face {
  font-family: satoshi;
  src: url('../src/assets/fonts/Satoshi-Variable.ttf');
}
body {
  margin: 0;
  font-family: satoshi;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
